<!DOCTYPE html>
<html lang="en">
<div class="grid-container">
    <header class="header">
        <div class="brand">
            <a href="index.html">Project Glass Rain</a>
        </div>
        <div class="header-links">
            <a href="cat.html">Cart</a>
            <a href="signin.html">Sign In</a>
        </div>
    </header>
<head>
<link rel="stylesheet" href="style.css"
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Project Glass Rain</title>
</head>
<body>
  <header>
    <h1>Welcome to Project Glass Rain</h1>
    <nav>
      <a href="#">Home</a> |
      <a href="#">Catalog</a> |
      <a href="#">Cart</a>
    </nav>
  </header>

  <main>
    <p>This is our first simple web template.</p>
  </main>

  <footer>
    <p>&copy; 2022 Project Glass Rain</p>
  </footer>
</body>
</div>
</html>
